li {
    list-style: none;
    border-bottom: 1px solid black;
    width: 30%;
}

button {
    border: none;
}

.checked {
    text-decoration: line-through;
}

.closeButton {
    float: right;
}

.checBoxCheck {
    margin-right: 0.3em;
}

#todo {
    border: 3px solid black;
    width: fit-content;
    margin-top: 1em;
}

#hozzaad {
    background-color: black;
    color: white;
    width: fit-content;
    margin-top: 1em;
}